<div *ngIf="hasLoggedIn">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand">{{instituitionName}}</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/exam-dashboard']">Exams</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/cce-dashboard']">CoScholastic</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <div class="dropdown" userDropdown>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item">Profile</a>
                        <a class="dropdown-item" (click)="logout()">Logout</a>
                    </div>
                </div>
            </form>
        </div>
    </nav>
    <br>
</div>
