<div *ngIf="clas">
    <br>
    <md-card>
        <md-toolbar color="primary">Class Details</md-toolbar>
        <br>
        <md-card-content>
            <form (ngSubmit)="save()" #form="ngForm">
                <md-input style="width: 50%" class="demo-full-width" placeholder="Name" name="className" required [(ngModel)]="clas.className"> </md-input>
                <p></p>
                <md-select style="width: 50%" placeholder="Attendance Type" name="type" required [(ngModel)]="clas.attendanceType">
                    <md-option *ngFor="let attType of attendanceTypes" [value]="attType.type">
                        {{attType.type}}
                    </md-option>
                </md-select>
                <p></p>
                <p></p>
                <md-select style="width: 50%" placeholder="Teacher" name="class_teacher" required [(ngModel)]="clas.teacherId">
                    <md-option *ngFor="let teacher of teachers" [value]="teacher.id">
                        {{teacher.name}}
                    </md-option>
                </md-select>
                <p></p>
                <p>
                    <button md-raised-button color="accent" type="button" (click)="goBack()">Back</button>
                    <button md-raised-button color="primary" type="submit">Save</button>
                </p>
            </form>
        </md-card-content>
    </md-card>
    <br/>
</div>
